$main-font: "Montserrat", sans-serif;
$secondary-font:"Kaushan Script", cursive;
$text-font: "Roboto", sans-serif;

$gradient-bright: rgba(243, 129, 129, 0.9);
$gradient-light: rgba(252, 227, 138, 0.9);

$main-light-color: #fce38a;
$main-bright-color: #f38181;
$shadow-color: #95e1d3;

$primary-white-color: #ffffff;
$primary-dark-color: #333333;
$primary-text-color: #999999;
$footer-divider-line: rgba(140, 140, 140, 0.302);
$placeholder-color: #cccccc;
$valid: green;
$invalid: red;